.header{
	background-color: green;
	color: white;
	padding: 40px;
	text-align: center;
	font-size: 30px;
}
.menu{
width: 100%;
min-height: 40px;
padding: 0px;
margin: 0px;
background-color: purple;
text-align: center;
}

.menu ul{
	margin: 0px;
	padding: 0px;

	
}

.menu ul li{
	float: right;
	list-style: none;
	display: block;
	padding: 10px 10px;
	border-right: 1px solid white;

}

.menu ul li:hover{
	box-shadow: 1px 2px 10px;
	background-color: blue;

}

.menu ul li a{
	font-size: 20px;
	color: white;
	text-decoration: none;
	padding: 15px;
	
	
}

.menu ul li a:hover{
	

	
}
