*{
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;
}

body{
	background-image: url(img/back.jpg)
}
.container{
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 0px;
	padding-left: 10px;
	padding-right: 10px;

}
.menu{
width: 100%;
min-height: 30px;
}

.menu ul{
background-color: green;
}

.menu ul li{
list-style: none;
float: left;
padding: 10px 30px;
font-size: 16px;

}
#logo img{
	width: 150px;
	float: left;
	padding-right: 300px;

}

.menu ul li a{
text-decoration: none;
color:white;
}

.nav:hover{
background-color: #4BA5F9;
border-radius: 10px;
}

.main{
clear: both;
padding-top: 150px;
padding-left: 100px;

}

.main p{
	color: white;
	font-size: 20px;
	padding-bottom: 30px;
}

.main h2{
	color: white;
	font-size: 40px;

}

#sign-up-btn{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 100px;
  cursor: pointer;
}
#sign-up-btn a{
	text-decoration: none;
	color:white;
}

#sign-up-btn:hover{
	background-color: #2e1db994;
}